<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<style>
    .button {
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
    }
    .button{background-color: #4CAF50;}
</style>
<body>
<div>
    <table class="table table-bordered">
        <thead class="thead-dark">
        <tr>
            <th>AMKA</th>
            <th>fullName</th>
            <th>municipalHouse</th>
            <th>password</th>
            <th>email</th>
            <th>address</th>
            <th>age</th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="citizen : ${listCitizen}">
            <tr>
                <td th:text="${citizen.AMKA}"></td>
                <td th:text="${citizen.fullName}"></td>
                <td th:text="${citizen.municipalHouse}"></td>
                <td th:text="${citizen.password}"></td>
                <td th:text="${citizen.email}"></td>
                <td th:text="${citizen.address}"></td>
                <td th:text="${citizen.age}"></td>
                <td>
                    <a class="h4 mr-3" th:href="@{'/AdministratorController/AdministratorModificationPage/Citizen/' + ${citizen.AMKA}}">Edit</a>
                    <a class="h4" th:href="@{/AdministratorController/AdministratorDeletePage/Citizen/{AMKA}(AMKA=${citizen.AMKA})}">Delete</a>
                </td>
            </tr>
        </th:block>
        </tbody>
    </table>
</div>
</body>

</html>